.login-link{
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-source: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 45px;
    line-height: 27px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 8px 19px;
    text-align: center;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    /*text-wrap: nowrap;*/
    user-select: none;
    vertical-align: middle;
    /*white-space-collapse: collapse;*/
}

.login-view{
    background: lightgrey;
    height: max-content;
}

.after-auth-view{
    /*background: bisque;*/
    background-color: lightgrey;
    height: 100%;
}
.admin-nav-after-auth{
    border-bottom: solid black;
}